@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Add custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Keyframes for changing gradient colors */
@keyframes changeGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Apply animation to the animated-gradient-text class */
.animate-gradient-text {
  background-image: linear-gradient(45deg, #007cf0, #ff0080, #f9cb28);
  background-size: 200% 200%;
  animation: changeGradient 3s ease infinite;
  -webkit-background-clip: text;
  color: transparent;
}
